@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input type="text" name="Login.Login" />
    <input type="text" name="Login.Password" />
    <button type="submit">Submit</button>
</form>


